/* Copyright css */

.copyright {
    padding: 20.5px 0;
    text-align: center;
}

.copyright h6 {
    font-size: 14px;
    font-style: italic;
    color: #737373;
}

.copyright h6 a {
    color: #ff6600;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

.copyright h6 a:hover {
    color: #201f1f;
}
